{% extends "base.html" %}

{% block content %}
<a href="home" class="btn btn-info" role="button">HOME</a>
<a href="create_event" class="btn btn-info" role="button" >Create Events</a>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>USERID</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>DATE ADDED</th>
      </tr>
    </thead>
    <tbody>
      {% for event in list %}
        <tr>
          <td>{{ event[0] }}</td>
          <td>{{ event[1] }}</td>
          <td>{{ event[2] }}</td>
          <td>{{ event[3] }}</td>
          <td>{{ event[4] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
