
{% extends "base.html" %}

{% block content %}

<div class="alert alert-info" role="alert">
  <strong><a href="https://static.practicefusion.com/apps/ehr/index.html#/login">Practice Fusion</a> | <a href="http://myupdox.com/updox-ui/">Updox</a>
    | <a href="https://providers.iehp.org/account/login">IEHP</a></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">  
    <span aria-hidden="true">&times;</span>
  </button>
  <br>*73 - To stop forwarding calls
  <br>*7219517325793 - Forward calls to Lorena at end of day
  <br>Computer Pin : 365203
  
</div>

<h3>Fax Number: (951) 637-9988</h3>
<h3>NPI 1144256900</h3>

<h3>Offices</h3>
<table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>LOCATION</th>
        <th>ADDRESS</th>
        <th>PHONE NUMBER</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>San Bernardino</td>
          <td>1033 N. Waterman Ave, San Bernardino, CA 92410</td>
          <td>Phone Number: (909) 381-3500</td>
        </tr>
        <tr>
          <td>Riverside</td>
          <td>9041 Magnolia Ave. Ste 302, Riverside, CA 92503</td>
          <td>Phone Number: (951) 637-9999</td>
        </tr>
        <tr>
          <td>Pomona</td>
          <td>691 Indian Hill Blvd, Pomona, ste 679 CA 91767</td>
          <td>Phone Number: (909) 417-5044</td>
        </tr>
        <tr>
          <td>Long Beach</td>
          <td>1936 E. Anaheim St, Long Beach, 90813</td>
          <td>Phone Number: (562) 349-0030  Text Pics: (951) 729-0132</td>
        </tr>
        <tr>
          <td>Jurupa Valley</td>
          <td>7920 Limonite Ave #A, Riverside, CA 92509</td>
          <td>Phone Number: (951) 332-0594</td>
        </tr>
    </tbody>
  </table>
  <h3>Phone Numbers</h3>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>LOCATION</th>
        <th>PHONE NUMBER</th>
        <th>ID</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>LabCorp</td>
          <td>Phone Number: (951) 785-5962 Results: (800) 859-7001</td>
          <td>ID: 04558250</td>
        </tr>
        <tr>
          <td>Medi-Cal</td>
          <td>Phone Number: 1 (800) 541-5555</td>
          <td>ID: 5230239</td>
        </tr>
        <tr>
          <td>Quest Labs</td>
          <td>Phone Number: 1 (866) 697-8378</td>
          <td>ID: 92503999</td>
        </tr>
        <tr>
          <td>Brand New Day Transportation</td>
          <td>Phone Number: (855) 804-3340</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td>WELLCARE Transportation</td>
          <td>Phone Number: (866) 653-0975</td>
          <td>N/A</td>
        </tr>
    </tbody>
  </table>
  <h3>Insurances</h3>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Insurance We Take</th>
        <th>Insurance We Do Not Take</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>Medicare</td>
          <td>Medi-Cal</td>
        </tr>
        <tr>
          <td>Freedom</td>
          <td>Molina</td>
        </tr>
        <tr>
          <td>IEHP</td>
          <td></td>
        </tr>
        <tr>
          <td>Anthem 
            *as long as we are their primary care, has
             to have Dr. Robert Nguyen on their card, check 
            Lorena to make sure*</td>
            <td></td>
        </tr>
        <tr>
          <td>HealthNet
            *depends, send a picture to Lorena to verify</td>
            <td></td>
        </tr>
    </tbody>
  </table>
{% endblock %}