
{% extends "base.html" %}

{% block content %}

  <h3>{{name}}</h3>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Service</th>
        <th>Type</th>
        <th>ICD-10</th>
        <th>CPT</th>
        <th>Total Care PT CPT Codes</th>
      </tr>
    </thead>
    <tbody>
        {% for item in list %}
          <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
          </tr>
        {% endfor %}  
    </tbody>
  </table>
{% endblock %}