{% extends "base.html" %}

{% block content %}
<a href="home" class="btn btn-info" role="button">HOME</a>
<a href="create_task" class="btn btn-info" role="button">Create Tasks</a>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>USERID</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>Complete</th>
        <th>Due Date</th>
        <th>Date Added</th>
      </tr>
    </thead>
    <tbody>
      {% for task in list %}
        <tr>
          <td>{{ task[0] }}</td>
          <td>{{ task[1] }}</td>
          <td>{{ task[2] }}</td>
          <td>{{ task[3] }}</td>
          <td>{{ task[4] }}</td>
          <td>{{ task[5] }}</td>
          <td>{{ task[6] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
